<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>SOUNDTRACK</title>
</head>
<body>
    <header>
        <div class="header-logo">
            <img src="assets/images/logo-512.png" alt="Logo">
            <h1>SOUNDTRACK</h1>
        </div>
        <nav class="header-nav">
            <a href="#">How it works</a>
            <a href="#">Library</a>
            <a href="#">Pricing</a>
        </nav>
        <div class="header-action">
            <div class="header-sign-up">
                <a href="#">Sign Up</a>
            </div>
            <div class="header-login">
                <a href="#">Login</a>
            </div>
        </div>
    </header>

    <main>
        <section class="register">
            <div class="reg-content">
                <div class="reg-head">
                    <h1>Let’s Connect<br/>with Your Visitors<br/>in Real Time</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing<br/>elit, sed do eiusmod tempor incididunt ut labore</p>
                </div>
            </div>
            <div class="reg-images">
                <div class="person-1">
                    <img src="./assets/images/person 1.png" alt="Person 1">
                    <div class="reg-email">
                        <div>
                            <p>Register using email address</p>
                            <h3>samantha@email.com</h3>
                        </div>
                        <div>
                            <button>Register</button>
                        </div>
                    </div>
                    <div class="reg-dotts">
                        <img src="./assets/images/dotts.png" alt="Dotts">
                    </div>
                </div>
                <img src="./assets/images/person 2.png" alt="Person 2" class="person-2">
                <img src="./assets/images/person 3.png" alt="Person 3" class="person-3">
            </div>
        </section>
        <section class="chat">
            <div class="chat-content">
                <div class="chat-title">
                    <h1>Chat with visitors<br/>while they browse<br/>your site</h1>
                </div>
                <div class="line">
                    <hr>
                </div>
                <div class="chat-msg">
                    <div class="msg-text">
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br/>sed do eiusmod tempor incididunt ut labore et dolore<br/>magna aliqua. Ut enim ad minim veniam.”</p>
                    </div>
                    <div class="msg-member">
                        <div class="member-img">
                            <img src="./assets/images/person 6.png" alt="Person 6">
                        </div>
                        <div class="member-about">
                            <h1>Samantha William</h1>
                            <p>Owner of Online Fashion Store</p>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-images">
                <div class="person-4">
                    <img src="./assets/images/person 4.png" alt="Person 4">
                    <div class="msg msg-2">
                        <p>Hi Samantha</p>
                    </div>
                    <div class="msg msg-3">
                        <p>Yes, You can order custom drawing</p>
                    </div>
                </div>
                <div class="person-5">
                    <img src="./assets/images/person 5.png" alt="Person 5">
                    <div class="msg msg-1">
                        <p>Hi Karen, I’m wandering is it possible to order custom drawing?</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="video">
            <div class="video-images">
                <div class="person-7">
                    <img src="./assets/images/person 7.png" alt="Person 7">
                    <div class="person-8">
                        <img src="./assets/images/person 8.png" alt="Person 8">
                    </div>
                    <div class="video-call">
                        <img src="./assets/images/Video.svg" alt="video call">
                        <div>
                            <h1>Start Video Call</h1>
                            <p>with Angela Smith</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-content">
                <div class="video-title">
                    <h1>It’s possible to do<br/>video call with<br/>your customers</h1>
                </div>
                <div class="line">
                    <hr>
                </div>
                <div class="video-msg">
                    <div class="msg-text">
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br/>sed do eiusmod tempor incididunt ut labore et dolore<br/>magna aliqua. Ut enim ad minim veniam.”</p>
                    </div>
                    <div class="msg-member">
                        <div class="member-img">
                            <img src="./assets/images/person 9.png" alt="Person 9">
                        </div>
                        <div class="member-about">
                            <h1>Samantha William</h1>
                            <p>Owner of Online Fashion Store</p>    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="footer-head">
                <h1>Browse our<br/>Case Study</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing<br/>elit, sed do eiusmod tempor incididunt ut labore et<br/>dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="footer-links">
                <div class="link">
                    <div class="link-num">
                        <h1>01</h1>
                    </div>
                    <div class="link-content">
                        <h1>Online Shop</h1>
                        <p>3 Case Studies</p>
                    </div>
                    <div class="link-arrow">
                        <img src="./assets/images/arrow.svg" alt="arrow">
                    </div>
                </div>
                <hr class="path">
                <div class="link">
                    <div class="link-num">
                        <h1>02</h1>
                    </div>
                    <div class="link-content">
                        <h1>Portfolio Website</h1>
                        <p>3 Case Studies</p>
                    </div>
                    <div class="link-arrow">
                        <img src="./assets/images/arrow.svg" alt="arrow">
                    </div>
                </div>
                <hr class="path">
                <div class="link">
                    <div class="link-num">
                        <h1>03</h1>
                    </div>
                    <div class="link-content">
                        <h1>Company Profile</h1>
                        <p>3 Case Studies</p>
                    </div>
                    <div class="link-arrow">
                        <img src="./assets/images/arrow.svg" alt="arrow">
                    </div>
                </div>
                <hr class="path">
                <div class="link">
                    <div class="link-num">
                        <h1>04</h1>
                    </div>
                    <div class="link-content">
                        <h1>Online Learning</h1>
                        <p>3 Case Studies</p>
                    </div>
                    <div class="link-arrow">
                        <img src="./assets/images/arrow.svg" alt="arrow">
                    </div>
                </div>
                <hr class="path">
                <div class="link">
                    <div class="link-num">
                        <h1>05</h1>
                    </div>
                    <div class="link-content">
                        <h1>News Portal</h1>
                        <p>3 Case Studies</p>
                    </div>
                    <div class="link-arrow">
                        <img src="./assets/images/arrow.svg" alt="arrow">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>