<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Remmy</title>
</head>
<body>
    <header>
        <nav class="h__nav">
            <img src="./assets/images/logo.png" alt="logo">
            <a href="#">For Patients</a>
            <a href="#">For Doctors</a>
        </nav>
        <div class="h__btn">
            <button class="btn">Request Invite</button>
        </div>
    </header>

    <main>
        <section class="frame-1">
            <div class="f1__content">
                <h1>Finally get the answers<br/>needed for healthy skin</h1>
                <p>Remmy helps you uncover the most effective skin care<br/>treatments by letting you test and track products with<br/>others.</p>
                <div>
                    <a href="#">Enter email...</a>
                    <button class="btn">Request Invite</button>
                </div>
            </div>
            <div class="f1__image">
                <img src="./assets/images/image-1.png" alt="image-1">
            </div>
        </section>
        <section class="frame-2">
            <div class="f2__image">
                <img src="./assets/images/image-2.png" alt="image-2">
            </div>
            <div class="f2__content">
                <h5>Social Biohacking</h5>
                <h1>Test skin treatments<br/>with others</h1>
                <p>With social biohacking, you can build meaningful<br/>connections with people suffering from the same skin<br/>conditions as yourself.</p>
                <p>You’ll be able to join together to test how effective<br/>treatments and products actually are, as well as help<br/>others by sharing the discoveries you’ve made from your<br/>own unique skin health journey.</p>
            </div>
        </section>
        <section class="frame-3">
            <h1 class="f3__title">Discover new treatment options<br/>through social biohacking. Here’s how</h1>
            <div class="f3__content">
                <div class="f3__c-item">
                    <img src="./assets/images/c-1.svg" alt="c-1">
                    <h1>Track a condition</h1>
                    <p>Start by using Remmy to track the progress of your skin condition<br/>over time. This will help establish a baseline in which our algorithm<br/>can calculate the helpfulness of your treatments.</p>
                </div>
                <img class="f3__c-item" src="./assets/images/image-3.png" alt="image-3">
                <div class="f3__c-item">
                    <img src="./assets/images/c-2.svg" alt="c-2">
                    <h1>Join a treatment</h1>
                    <p>Join a biohacking treatment by following the instructions, joining<br/>the discussion, and by marking in Remmy every time you<br/>administer the treatment. We’ll then be able to calculate an<br/>average effectiveness score from everyone’s participation for this<br/>treatment.</p>
                </div>
                <img class="f3__c-item" src="./assets/images/image-4.png" alt="image-4">
                <div class="f3__c-item">
                    <img src="./assets/images/c-3.svg" alt="c-3">
                    <h1>Help others</h1>
                    <p>Help others find relief and healing by sharing the biohacking<br/>experiments and treatments that have worked for you. Then<br/>discuss, chat, and collaborate to figure out how to maximize the<br/>effectiveness of your treatments.</p>
                </div>
                <img class="f3__c-item" src="./assets/images/image-5.png" alt="image-5">
            </div>
        </section>
        <section class="frame-4">
            <div class="f4__title">
                <h1>Stop accepting the idea that your skin condition isn't<br/>curable. Healthy skin is everyone's birthright.</h1>
                <div>
                    <img src="./assets/images/image-6.png" alt="image-6">
                    <p>Dr. Robyn Kutka, Chief Medical Officer</p>
                </div>
            </div>
            <div class="f4__content">
                <div class="f4__c-item">
                    <img src="./assets/images/image-7.png" alt="image-7">
                    <div>
                        <h3>Tracking</h3>
                        <h1>Track Your Improvement</h1>
                        <p>Remmy helps people track their skin conditions over time<br/>so you can better understand what helps your skin and<br/>what makes it worse.</p>
                        <p>This is powered by our proprietary algorithm that not<br/>only tracks your condition, but also measures the effectiveness of the<br/>various treatments and products<br/>you’re currently using.</p>
                    </div>
                </div>
                <div class="f4__c-item">
                    <div>
                        <h3>Treatments</h3>
                        <h1>Find Treatments<br/>That Actually Work</h1>
                        <p class="p-small">Get access to already proven therapies for psoriasis, eczema, acne, and many<br/>other skin conditions.</p>
                        <p>Remmy helps people find the most effective treatments,<br/>remedies, and products, so you’re not wasting time and<br/>money on the ones that don’t work.</p>
                    </div>
                    <img src="./assets/images/image-8.png" alt="image-8">
                </div>
                <div class="f4__c-item">
                    <img src="./assets/images/image-9.png" alt="image-9">
                    <div>
                        <h3>Support</h3>
                        <h1>A community of skin<br/>care experts that have<br/>your back</h1>
                        <p>Struggling with skin health can be overwhelming and</p>
                        <p class="p-small">isolating, whether you're dealing with scarring, wrinkles, or eczema. With Remmy, you<br/>don’t have to do it alone.</p>
                        <div class="f4__c-i_frame">
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.556 12.2677C22.5833 12.0716 22.4923 11.8779 22.324 11.7737C19.8 10.1997 14.066 7.71771 3.014 7.57371C2.46177 7.56598 2.00783 8.00736 2.0001 8.5596C2.00003 8.56429 2 8.56899 2 8.57371V40.1038C2 40.6507 2.43929 41.096 2.98611 41.1038C13.2881 41.2358 18.9741 43.4038 21.7561 44.9678C21.9094 45.0568 22.0987 45.0568 22.2521 44.9678C22.4057 44.8782 22.5002 44.7136 22.5001 44.5358V12.8917C22.5058 12.6827 22.5245 12.4743 22.556 12.2677Z" fill="#3D55F9"/>
                                <path d="M38.5 34.8918C38.4989 35.6224 37.972 36.2462 37.252 36.3696C34.0096 37.0006 31.0245 38.571 28.668 40.8856C27.8805 41.76 27.1917 42.7184 26.614 43.7438C26.4802 43.9854 26.5675 44.2896 26.8091 44.4235C26.9515 44.5024 27.1235 44.507 27.2701 44.4358C32.8731 42.0515 38.9277 40.9144 45.0141 41.1038C45.5608 41.096 46 40.6504 46 40.1038V8.57369V8.57361C46 8.02132 45.5523 7.57361 45 7.57361C44.9952 7.57361 44.9907 7.57364 44.9859 7.57372C42.7579 7.60172 40.7579 7.73169 38.9459 7.92569C38.6917 7.95332 38.4995 8.16811 38.5 8.42371V34.8918Z" fill="#3D55F9"/>
                                <path d="M35.136 33.8C35.3512 33.7384 35.4997 33.5418 35.5 33.3178V3.46794C35.5003 3.19178 35.2765 2.9677 35.0005 2.96741C34.9416 2.96735 34.8832 2.97767 34.828 2.99794C32.4923 3.78175 30.3797 5.11594 28.668 6.88794C26.996 8.50778 25.8858 10.62 25.5 12.9159V38.62C25.4998 38.896 25.7234 39.1202 25.9996 39.1202C26.1438 39.1205 26.281 39.0584 26.376 38.9498L26.422 38.8978C28.8027 36.4296 31.8179 34.6656 35.136 33.8Z" fill="#3D55F9"/>
                                <rect x="0.5" y="0.5" width="47" height="47" stroke="#3D55F9" stroke-opacity="0.08"/>
                            </svg>
                            <p>Scientific research monitoring</p>
                        </div>
                        <div class="f4__c-i_frame">
                            <div>
                                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_0_125)">
                                    <path d="M48 20.5C48 19.3954 47.1045 18.5 46 18.5H2C0.895429 18.5 0 19.3954 0 20.5C4.82821e-08 21.6046 0.895429 22.5 2 22.5H3.84C4.11117 22.4999 4.33256 22.7169 4.338 22.988V22.988C4.49544 30.4968 8.94024 37.252 15.774 40.368C16.0254 40.4821 16.1368 40.7784 16.0227 41.0299C15.9761 41.1325 15.8962 41.2165 15.796 41.268C13.6137 42.3987 11.6861 43.964 10.132 45.868C9.78293 46.296 9.84693 46.9259 10.275 47.2749C10.4531 47.4203 10.676 47.4997 10.906 47.5H37.0939C37.6461 47.4995 38.0936 47.0512 38.0931 46.4989C38.0928 46.2691 38.0133 46.0461 37.868 45.868C36.3136 43.9635 34.3853 42.3979 32.2019 41.268C31.9563 41.1419 31.8597 40.8403 31.9859 40.5947C32.0373 40.4944 32.1213 40.4147 32.224 40.368C39.0584 37.2525 43.5043 30.4973 43.6619 22.988C43.6675 22.7169 43.8888 22.4999 44.16 22.5H46C47.1045 22.5 48 21.6046 48 20.5Z" fill="#3D55F9"/>
                                    <path d="M28.0104 13.744C27.5931 14.1055 27.5475 14.7371 27.9091 15.1546C28.0989 15.3738 28.3744 15.4999 28.6645 15.5H36.9125C37.2027 15.4999 37.4787 15.3736 37.6685 15.154L46.4584 5.01201C47.4256 3.83249 47.2536 2.09216 46.0741 1.12492C45.0563 0.290242 43.5907 0.289866 42.5725 1.12402L28.0104 13.744Z" fill="#3D55F9"/>
                                    </g>
                                    <rect x="0.5" y="0.5" width="47" height="47" stroke="#3D55F9" stroke-opacity="0.08"/>
                                    <defs>
                                    <clipPath id="clip0_0_125">
                                    <rect width="48" height="48" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <p>Discovering new treatments</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="frame-5">
            <div class="f5__title">
                <h3>About Remmy</h3>
                <h1>Healthy skin is something<br/>everyone deserves</h1>
                <p>We believe all of us have a right to radiant and healthy skin, free from pain, blemishes, or<br/>embarrassment.</p>
            </div>
            <div class="f5__content">
                <img src="./assets/images/image-10.png" alt="image-10">
                <div class="f5__c-item">
                    <div class="f5__c-i-0">
                        <img src="./assets/images/person.svg" alt="person">
                        <h1>Listen to your body</h1>
                        <p>We believe that listening and trusting your body is<br/>the first step in reclaiming your skin health, and it’s<br/>our goal to give people the tools in which to do so.</p>
                    </div>
                    <div class="f5__c-i-0">
                        <img src="./assets/images/heart.svg" alt="heart">
                        <h1>Don’t give up</h1>
                        <p>Just because you haven’t found a treatment for your<br/>skin condition yet, doesn’t mean it doesn’t exist. By<br/>working together, we can more quickly discover<br/>effective treatments for ourselves.</p>
                    </div>
                </div>
            </div>
            <div class="f5__conditions">
                <div class="f5__ct-title">
                    <h3>Conditions</h3>
                    <h1>What skin conditions do you support?</h1>
                    <p>Whether you’re struggling with a chronic skin condition or fighting the effects of aging, we’ve got you covered.</p>
                </div>
                <div class="f5__ct-content">
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#7FDDF0"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 0.498039 0 0 0 0 0.866667 0 0 0 0 0.941176 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>Acne</p>
                    </div>
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#5FAEEC"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 0.372549 0 0 0 0 0.682353 0 0 0 0 0.92549 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>Psoriasis</p>
                    </div>
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#9B78FD"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 0.607843 0 0 0 0 0.470588 0 0 0 0 0.992157 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>Eczema</p>
                    </div>
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#EF9CD0"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 0.937255 0 0 0 0 0.611765 0 0 0 0 0.815686 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>Dry Skin</p>
                    </div>
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#F6845E"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 0.964706 0 0 0 0 0.517647 0 0 0 0 0.368627 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>Rosacea</p>
                    </div>
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#F9B65E"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 0.976471 0 0 0 0 0.713726 0 0 0 0 0.368627 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>Wrinkles</p>
                    </div>
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#FFDD57"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.866667 0 0 0 0 0.341176 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>Keratosis</p>
                    </div>
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#ABE050"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 0.670588 0 0 0 0 0.878431 0 0 0 0 0.313726 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>Stretch Marks</p>
                    </div>
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#7BCFA6"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 0.482353 0 0 0 0 0.811765 0 0 0 0 0.65098 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>Spider Veins</p>
                    </div>
                    <div>
                        <svg width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><rect x="24" y="12" width="24" height="24" rx="12" fill="#B5B8C1"/></g>
                            <path d="M36 17C36 22.0768 36 25.4232 36 30.5" stroke="white"/><line x1="29" y1="23.5" x2="43" y2="23.5" stroke="white"/><defs><filter id="filter0_d_0_1" x="0" y="0.5714" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="12.5714"/><feGaussianBlur stdDeviation="12"/><feColorMatrix type="matrix" values="0 0 0 0 0.709804 0 0 0 0 0.721569 0 0 0 0 0.756863 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs>
                        </svg>
                        <p>And Many More Conditions...</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <hr class="f__hr">

    <footer>
        <div class="f__text">
            <p>Copyright Remmy 2021, all rights reserved.<br/>This site is protected by reCAPTCHA and the Google<br/>Privacy Policy and Terms of Service apply.</p>
        </div>
        <nav class="f__nav">
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Contact Us</a>
        </nav>
    </footer>
</body>
</html>